{% load django_bootstrap5 %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>RESTful API List</title>
</head>
<body>
    <h1>API List</h1>
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
            {% for track in tracks %}
            <tr>
                <td>{{ track.track_name }}</td>
                <td>{{ track.artists }}</td>
                <td>{{ track.album }}</td>
                <td>{{ track.genre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}